
#card {
    float:left;
    min-width:7in;
    height:5in;
    border: 52px solid gray;
    border-right-style: outset;
    padding: 1em;
    margin: 2em 1em;
    font-size: large;
    overflow:auto;
    line-height: 2em;
}

#input textarea{
    float:left;
    clear:left;
    width: 7in;
    height: 5in;
    padding: 1em;
    margin: 2em 1em;
    overflow-y:scroll;
}

nav button {
    width:15em;
    height:2em;
    margin: 2em 1em;
    background: gray;
    border: 2px white;
    color: white;
    text-transform:capitalize
}

