
#view, #input {
    position: relative;
    top: 50px;
    width: 7in;
    height: 5in;
    margin: auto;
    font-size: large;
    font-family: 'Times New Roman';
    line-height: 2em;
    opacity: 1;
}

#card, textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 7in;
    height: 5in;
    padding: 1em;
    color: grey;
    font-family: 'Times New Roman';
    font-size: large;
}
    
    #card {
    
    }

    textarea{
        top: 50px;
        overflow-y: auto;
        border: none;
    }

#index {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    color: grey;
}

#side {
    position: absolute;
    right: 0;
    font-size: 5em;
    line-height: 1em;
    text-align: center;
    z-index: 0;
    opacity: 0.2;
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

#next_card, #prev_card {
    position: absolute;
    width: 30%;
    top: -50px;
    bottom: -50px;
    z-index: 1;
}

    #next_card {
        right: -50px;
    }

    #prev_card {
        left: -50px;
    }

.next_background, .prev_background {
    background-image: url('../img/gt.jpg');  
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}
    
    .prev_background {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

#decks {
    position: absolute;
    bottom: -50px;
    left: -50px;
    right: -50px;
    /*font-size: 5em;*/
    line-height: 1em;
    text-align: center;
    z-index: 2;
    opacity: 0;
}
    
    #decks.show {
        opacity: 0.2;
    }

