body {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: 1em;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1em auto;
  height: 200px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
.navbar select, .navbar .btn {
  margin: 0px;
}
.navbar .btn {
  display: none;
}
.navbar.playnow .btn {
  display: inline-block;
}

.flashcardjs {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
  margin: 1em auto;
  top: 0;
  text-align: center;
}

.card {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: width 0.25s, height 0.25s, background-color 0.25s, -webkit-transform 0.25s;
  -moz-transition: width 0.25s, height 0.25s, background-color 0.25s, -moz-transform 0.25s;
  -o-transition: width 0.25s, height 0.25s, background-color 0.25s, -o-transform 0.25s;
  transition: width 0.25s, height 0.25s, background-color 0.25s, transform 0.25s;
  border: 1px solid gray;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.card[data-view='front'] {
  background-color: white;
}
.card[data-view='back'] {
  background-color: whitesmoke;
  text-align: left;
}
.card[data-view='z-perspective'] {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  filter: flipH;
}
.card[data-advance='left'], .card[data-enterScreen='left'] {
  -webkit-transform: translateX(-1600px);
  -moz-transform: translateX(-1600px);
  -o-transform: translateX(-1600px);
  transform: translateX(-1600px);
}
.card[data-advance='right'], .card[data-enterScreen='right'] {
  -webkit-transform: translateX(1600px);
  -moz-transform: translateX(1600px);
  -o-transform: translateX(1600px);
  transform: translateX(1600px);
}

#player > .card {
  width: 800px;
  height: 600px;
  font-size: 22px;
}
#player > .card[data-view='front'] {
  background: -webkit-linear-gradient(bottom, #bbbbdd, white);
  background: -moz-linear-gradient(bottom, #bbbbdd, white);
  background: linear-gradient(bottom, #bbbbdd, white);
}
#player > .card[data-view='back'] {
  background: -webkit-linear-gradient(bottom, white, #bbbbdd);
  background: -moz-linear-gradient(bottom, white, #bbbbdd);
  background: linear-gradient(bottom, white, #bbbbdd);
}

.small {
  height: 200px;
  width: 320px;
}
