@import 'mixins.scss';

$height: 200px;
$cardPlayerWidth: 800px;
$cardPlayerHeight: 600px;
$ratio: 0.6;
$front: white;
$back:  darken(white, 4%);
$playerFrontStart: #bbd;
$playerFrontStop: #fff;
$playerBackStart: #fff;
$playerBackStop: #bbd;

body {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: 1em;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1em auto;
  hight: $height;
  width: 100%;
  text-align: center;
  z-index: 1000;

  select, .btn {
    margin: 0px;
  }

  .btn {
    display: none;
  }

  &.playnow {
    .btn {
      display: inline-block;
    }
  }
}

.flashcardjs {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
  margin: 1em auto;
  top: 0;
  text-align: center;
}

.card {
  border: 1px solid gray;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  @include border-radius(1em);

  -webkit-transition:width .25s, height .25s, background-color .25s, -webkit-transform .25s;
  -moz-transition:width .25s, height .25s, background-color .25s, -moz-transform .25s;
  -o-transition:width .25s, height .25s, background-color .25s, -o-transform .25s;
  transition:width .25s, height .25s, background-color .25s, transform .25s;

  &[data-view = 'front'] {
    background-color: $front;
  }

  &[data-view = 'back'] {
    background-color: $back;
    text-align: left;
  }

  &[data-view = 'z-perspective'] {
    @include transform(scaleX(0));

    //IE
    filter: flipH;
  }

  &[data-advance = 'left'],
  &[data-enterScreen = 'left'] {
    @include transform(translateX($cardPlayerWidth * -2));
  }

  &[data-advance = 'right'],
  &[data-enterScreen = 'right'] {
    @include transform(translateX($cardPlayerWidth * 2));
  }
}



#player > .card {
  width: $cardPlayerWidth;
  height: $cardPlayerHeight;

  &[data-view = 'front'] {
    background: -webkit-gradient(linear, left bottom, left top, from($playerFrontStart), to($playerFrontStop));
    background: -moz-linear-gradient(bottom, $playerFrontStart, $playerFrontStop);
    background: linear-gradient(bottom, $playerFrontStart, $playerFrontStop);
  }

  &[data-view = 'back'] {
    background: -webkit-gradient(linear, left bottom, left top, from($playerBackStart), to($playerBackStop));
    background: -moz-linear-gradient(bottom, $playerBackStart, $playerBackStop);
    background: linear-gradient(bottom, $playerBackStart, $playerBackStop);
  }
}


.small {
  height: $height;
  width: ($height * $ratio) + $height;
}
