body {
  position: relative;
  margin: 1em;
}

select.decks {
  display: block;
}

$height: 200px;
$ratio: 0.6;

.deck {
  position: relative;
  height: $height;
  width: 100%;
}

#card {
  background-color: lighten(gray, 49%);
  border: 1px solid gray;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;

  -moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
  -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  -o-transition:width 2s, height 2s, background-color 2s, -o-transform 2s;
  transition:width 2s, height 2s, background-color 2s, transform 2s;
}

#card[data-view = 'front'] {}

#card[data-view = 'back'] {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.small {
  height: $height;
  width: ($height * $ratio) + $height;
}



