$height: 200px;
$cardPlayerWidth: 800px;
$cardPlayerHeight: 600px;
$cardPlayerFontSize: 22px;
$ratio: 0.6;
$front: white;
$back: darken(white, 4%);
$playerFrontStart: #bbd;
$playerFrontStop: #fff;
$playerBackStart: #fff;
$playerBackStop: #bbd;
